/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.font-sm {
  font-size: 18px;
}
.font-md {
  font-size: 24px;
}
.font-lr {
  font-size: 28px;
}
.font-lg {
  font-size: 30px;
}
.mb-sm {
  margin-bottom: 34px !important;
}
.pb-sm {
  padding-bottom: 28px !important;
}

.img-copy {
  padding: 30px;
  left: 2%;
}
.pd-mb {
  padding: 14px;
  margin-bottom: 12;
}

.header {
  padding: 30px;
  height: 100px;
}

#main-content {
  & .main-visual {
    & .introduction {
      height: 200px;

      &__copy {
        height: 140px;
        margin: auto;
        width: 40%;
        display: flex;
        align-items: center;
        & p {
          padding-left: 10%;
        }
      }
      &__text {
        height: 140px;
        & p {
          margin: 10px 4px;
        }
      }
    }
  }

  & .pickUp {
    background-color: $cGray;
    color: $cBlack;

    &__nav {
      height: 150px;
      display: flex;
      justify-content: center;

      & ul {
        width: 84%;
      }

      &__li {
        width: 120px;
        height: 120px;

        &:hover {
          top: 2px;
        }

        & img {
          width: 40px;
        }
      }
      & p {
        font-size: 16px;
      }
    }
    &__wrap {
      &__main-visual {
        img {
          padding-top: 60px;
        }
      }

      &__sub-content {
        & img {
          width: 48%;
          height: 48%;
        }
        & p {
          padding: 34px;
        }
      }
      &__text {
        padding-bottom: 20px;
      }
    }
  }

  & .course {
    &__banner {
      & h3 {
        margin-bottom: 0;
        text-align: start;
      }

      &__active {
        padding-bottom: 30px;
        & h3 {
          top: 46%;
          left: 54%;
          bottom: 26%;
          right: 2%;
        }
      }

      // & p {
      //   margin-top: 10px;
      //   margin-bottom: 30px;
      // }

      // & .slideL {
      //   transform: translate(-800px);
      // }
      // & .show {
      //   transform: translate(0px, 0) !important;
      // }
    }
  }
  & .news {
    & button {
      & .twitter-icon {
        margin-top: 18px;
      }
    }
  }

  .photoGallery {
    background-color: $cRGreen;

    &__contents {
      & button {
        margin: 40px auto;
        width: 320px;
        height: 80px;
        & p {
          padding-top: 20px;
        }
      }
    }
  }

  & .access {
    &__contens {
      &__introduction {
        & .introduction {
          // height: 145px;

          &__copy {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &__text {
            width: 54%;
            padding: 3%;
          }
        }
      }

      &__map {
        display: flex;
        justify-content: center;
        height: 48%;
      }

      & .map-bg {
        height: 800px;
      }

      & .fade-item {
        top: 20%;
        left: 8%;
      }

      & .fadein {
        top: 14%;
      }

      // &__info {
      //   padding-top: 4px;
      //   background-color: $cRGreen;
      //   display: flex;
      //   justify-content: center;
      //   &__text {
      //     background-color: $cWhite;
      //     margin: 4%;
      //     padding: 3%;

      //     & h2 {
      //       margin-bottom: 6px;
      //     }
      //     & h3 {
      //       margin-bottom: 4px;
      //     }
      //     & ul {
      //       padding-left: 0;
      //     }
      //   }
      // }
    }
  }
}

.footer {
  &__nav {
    & ul {
      padding-top: 10px;
      padding-left: 24%;
      & li {
        width: 40%;
      }
    }
  }
}
