/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
a:visited,
a:link {
  color: $cBlack;
}
a:hover {
  text-decoration: none;
}
body {
  background-color: $cRGreen;
  font-family: "游ゴシック体", "Hiragino Kaku Gothic ProN", sans-serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
ul {
  list-style: none;
}
h3 {
  color: $cBlack;
}
.font-sm {
  font-size: 10px;
}
.font-md {
  font-size: 12px;
}
.font-lr {
  font-size: 14px;
}
.font-lg {
  font-size: 16px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.content-width {
  width: 80%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.content-text {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.img-copy {
  // opacity: 0.8;
  position: absolute;
  padding: 10px;
  // top: 30%;
  left: 2%;
  background-color: $cWhite;
  text-align: center;
}

.pd-mb {
  padding: 8px;
  margin-bottom: 0;
}

.swiper-container {
  width: 100%;
}

.fade-item {
  opacity: 0.3;
  top: 20%;
  transition: all 1s;
}

.fadein {
  opacity: 0.9;
  top: 16%;
  transform: translate(0, 0);
}

.title {
  text-align: center;
  h2 {
    margin: 0px auto 8px auto;
    padding-top: 20px;
    @extend .font-lg;
  }
}

.header {
  background-color: $cRGreen;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 60px;
  position: relative;

  &__ul {
    padding-left: 10px;
    & li {
      padding: 20px 4px;
      border-bottom: solid #434343 1px;
      position: relative;
      & span {
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }
    & li:nth-child(1) {
      text-align: center;
    }
  }

  & .logo {
    position: relative;
    text-align: center;
    bottom: 5px;

    &__img {
      width: 1.2em;
    }
    &__word {
      font-size: 24px;
      border-bottom: solid #eb832a 1px;
    }
  }
  & .under-bar {
    background: #144d79;
    height: 2px; /*線の太さ*/
    width: 169px; /*長さ*/
    border-radius: 3px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 4px;
  }
  &__nav {
    position: absolute;
    right: 10px;
    top: 12px;
    width: 40px;
  }
}

#main-content {
  & .main-visual {
    & .visual {
      &__copy {
        @extend .img-copy;
        // top: 14%;
        width: 34%;
        height: 20%;
        display: flex;
        align-items: center;

        & p {
          @extend .font-md;
          font-weight: 600;
          width: 100%;
          margin-bottom: 0;
          text-align: start;
          & span {
            @extend .font-lg;
            padding-bottom: 3%;
          }
        }
      }
    }
    & .introduction {
      background-color: $cGreen;
      display: flex;
      justify-content: space-between;
      height: 145px;
      width: 100%;
      &__copy {
        background-color: $cWhite;
        font-weight: 600;
        height: 100px;
        margin: auto;
        width: 140px;

        & p {
          margin: 30px 10px;
        }
      }
      &__text {
        color: $cWhite;
        height: 90px;
        margin: auto;
        width: 200px;
        & p {
          margin: 10px 4px;
        }
      }
    }
  }

  & .topics {
    background-color: $cWhite;

    &__image {
      @extend .content-width;
      display: flex;
      justify-content: center;

      & img {
        height: 200px;
      }
    }
    &__text {
      @extend .content-width;
      margin-top: 4px;
      padding-bottom: 10px;
    }

    &__day {
      @extend .font-md;
      margin-bottom: 6px;
    }

    &__title {
      @extend .font-lr;
    }

    &__link {
      @extend .font-md;
      cursor: pointer;
      text-align: center;
    }
  }

  & .pickUp {
    background-color: $cGray;
    color: $cBlack;

    &__nav {
      height: 100px;
      &__ul {
        display: flex;
        justify-content: space-between;
        padding: 10px 24px;
        margin-bottom: 0;
      }
      &__li {
        cursor: pointer;
        position: relative;
        background-color: $cWhite;
        border-radius: 50px;
        width: 72px;
        height: 72px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 1);
        &:hover {
          position: relative;
          box-shadow: none;
          top: 1px;
        }

        & img {
          margin: 0 auto;
          width: 36px;
          display: flex;
          justify-content: center;
        }
      }
      &__icon {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 46px;
        height: 50px;

        & p {
          @extend .font-lr;
          text-align: center;
        }
      }
    }
    & #leisure {
      background-color: #06365c;
      color: $cWhite;
    }
    & #gourmet {
      background-color: $cWhite;
    }
    // & #nature {
    //   background-color: $cGray;
    // }
    & #learn {
      background-color: $cRGreen;
    }

    &__wrap {
      display: flex;
      flex-direction: column;

      &__main-visual {
        @extend .content-width;
        @extend .mb-sm;
        position: relative;
        img {
          padding-top: 30px;
          height: auto;
        }
      }

      &__title {
        @extend .img-copy;
        & h3 {
          @extend .font-lg;
        }
      }

      &__sub-content {
        @extend .content-width;

        & img {
          width: 48%;
          height: 48%;
          @extend .mb-sm;
        }
        & p {
          @extend .font-lr;
          display: flex;
          align-items: center;
          padding: 8px;
        }

        &__left-img {
          display: flex;
        }
        &__right-img {
          display: flex;
          flex-direction: row-reverse;
        }
      }

      &__text {
        @extend .content-width;
        & p {
          @extend .font-md;
        }
      }
    }
  }

  & .course {
    background-color: $cWhite;
    &__contents {
      @extend .content-width;
      @extend .font-md;
    }

    &__banner {
      &__nature,
      &__active {
        position: relative;
      }

      & h3 {
        @extend .img-copy;
        @extend .font-md;
        margin-bottom: 0;
        text-align: start;
      }

      &__nature {
        & h3 {
          top: 4%;
          left: 4%;
        }
      }
      &__active {
        & h3 {
          top: 36%;
          left: 40%;
          bottom: 32%;
          right: 4%;
        }
      }

      & p {
        @extend .pd-mb;
      }

      & .slideL {
        transform: translate(-600px);
        transition: all 1s;
      }
      & .slideR {
        transform: translate(600px);
        transition: all 1s;
      }

      & .show {
        transform: translate(0px, 0) !important;
      }
    }
  }
  & .news {
    background-color: $cGray;
    &__contents {
      @extend .content-width;
      & p {
        @extend .font-md;
      }
      & .time-line {
        display: flex;
        justify-content: center;
      }
    }
    & button {
      background: rgba(255, 255, 255, 0);
      border: none;
      display: flex;
      justify-content: center;
      margin: 10px auto 5px;
      & .twitter-icon {
        background-color: $cWhite;
        border-radius: 50%;
        cursor: pointer;
        padding: 10px;
        width: 30%;
      }
    }
    & .twitter-text {
      @extend .font-lg;
      @extend .pd-mb;
      color: #205016;
      text-align: center;
    }
  }

  .photoGallery {
    background-color: $cRGreen;

    &__contents {
      @extend .content-width;

      &__img {
        font-size: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        & a {
          width: 50%;
        }
      }

      & button {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border: none;
        background-color: #205016;
        margin: 20px auto;
        width: 280px;
        height: 40px;
        box-shadow: 0 3px 0 0 rgba(0, 0, 0, 1);

        &:hover {
          position: relative;
          box-shadow: none;
          top: 3px;
        }
      }

      &__btn {
        @extend .font-lg;
        // @extend .btn-active;

        & p {
          color: $cWhite;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px;
        }
      }
    }
  }

  & .access {
    background-color: $cWhite;
    &__contens {
      position: relative;

      &__introduction {
        @extend .content-width;
        display: flex;
        justify-content: space-between;

        & .introduction {
          display: flex;
          justify-content: space-between;
          height: 145px;

          &__copy {
            @extend .font-lr;
            border: solid 1px;
            display: flex;
            align-items: center;
            padding: 2%;
            width: 46%;
          }
          &__text {
            @extend .font-md;
            color: $cBlack;
            display: flex;
            align-items: center;
            width: 54%;
            padding: 3%;
          }
        }
      }

      &__map {
        @extend .content-width;
        display: flex;
        justify-content: center;
        & img {
          height: auto;
        }
      }

      & .map-bg {
        height: 360px;
      }

      & .fade-item {
        position: absolute;
        opacity: 0;
        top: 20%;
        left: 8%;
        transition: all 2s;
      }

      & .fadein {
        opacity: 1;
        top: 16%;
        transform: translate(0, 0);
      }

      &__info {
        padding-top: 4px;
        background-color: $cRGreen;
        display: flex;
        justify-content: center;
        &__text {
          @extend .content-width;
          @extend .font-md;
          background-color: $cWhite;
          margin: 4%;
          padding: 3%;

          & h2 {
            @extend .font-lr;
            margin-bottom: 6px;
          }
          & h3 {
            @extend .font-md;
            margin-bottom: 4px;
          }
          & ul {
            padding-left: 0;
          }
        }
      }
    }
  }
}
.footer {
  background-color: $cGray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  position: relative;

  & .logo {
    position: relative;
    text-align: center;
    margin: 0 auto;
    bottom: 5px;
    width: 300px;

    &__img {
      width: 2em;
    }
    &__word {
      font-size: 24px;
      border-bottom: solid #eb832a 1px;
    }
  }
  & .under-bar {
    background: #144d79;
    height: 2px; /*線の太さ*/
    width: 164px; /*長さ*/
    border-radius: 3px;
    display: block;
    position: absolute;
    right: 50px;
    bottom: 3px;
  }
  &__nav {
    & ul {
      display: flex;
      flex-wrap: wrap;
      padding-top: 10px;
      padding-left: 16%;
      & li {
        width: 50%;
        @extend .font-md;
      }
    }
  }
  &__copywright {
    background-color: $cGreen;
    height: 60px;
    color: $cWhite;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
